local_settings.py
data/*
!data/files.py

build/
.build/
artifacts/
dist/
uploads/
ios/

.venv/
.idea/
__pycache__/
*.py[cod]
.~*
*.swp
*~
*.bak
*.log
*.log.*
*.out
*.jks
*.egg-info
node_modules/
db.sqlite3
.codex
.expo/
.env
